
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        body{
            background-color: indianred;
            text-align: center;

        }
        button{
            background-color: gray;
            width: 100px;
            height: 50px;
            font-size: 20px;
        }
        h1{
           margin-top: 30vw;
        }
        header{
            font-size: 200px;
            margin-top: 20vw;
            margin-bottom: -30vw;
        }

    </style>
</head>
<body>

    <header>oops😐</header>

    <h1>You do not have access to this page. </h1>

    <button onclick="history.back(-1)" class="btn btn-success btn-m">Go Back</button>


</body>
</html>