
    {% extends 'base.html' %}
    {% block content %}
        <title>Edit Patient</title>
        <head>
            <style>
                .content{
                    width: 100vw;
                }
                form{
                    background-color: #C1F1F1;
                }
                input{
                     margin-bottom: 20px;
                }
            </style>
        </head>

        <div class="content">
        <h1 class ="center">Edit account info.</h1>



        <form id="PatientForm" class = "form-horizontal" method="POST" style="text-align: center">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" name="submit" class="btn btn-success btn-m" style="background-color: #5CCFCF;color: #316497;" value="Save Changes" />

        </form>
        </div>

    {% endblock %}