{% extends 'base.html' %}
        {% block content %}
            <title>Transfer Patient Reply</title>
    <h1 class="center">Enter reason for rejecting transfer</h1>

    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}

        {{ form.as_p }}
        <input class="btn btn-success btn-m" style="background-color: #5CCFCF;color: #316497;" type="submit" name="submit" style="background-color: #5CCFCF" value="Send rejection" />
        <a class="btn btn-success btn-m" style="background-color: #5CCFCF;color: #316497;" href="{% url 'base' %}">Cancel</a>
    </form>
        {% endblock %}
